name: Test providers

on:
  # Triggers the workflow on push 
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Run every 12 hours
  schedule:
    - cron: "0 */12 * * *" # Runs at 00:00 and 12:00 UTC every day. 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  providers:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: run tor
        run: |
          mkdir -p tor && sudo echo "SOCKSPort 0.0.0.0:9150" > ./tor/torrc
          docker run -d --network host --name=tor -v `pwd`/tor:/etc/tor connectical/tor
          sleep 10
          
      - name: Call all the Markets endpoints with JSON HTTP client and delete the non responsive ones
        run: |
          # Set the current GITHUB_ACTOR as the git user
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"

          bash check.sh

          # Push the changes to the remote repository
          git push origin master


